{% extends 'formversion/base.html' %}
{% block script %}
    <script>
         $(document).ready(function () {
             $("#generic").addClass("active");
         });
    </script>
{% endblock %}
{% block main %}
        <!-- Header -->
        <header id="header">
            <div>Snapshot <span>by TEMPLATED</span></div>
        </header>

    <!-- Section -->
        <section>
            <div class="inner">
                <header>
                    <h1>Generic</h1>
                </header>
                <p class="bd-lead">视觉是人类获取信息的主要渠道。图像、视频、几何模型等可视媒体信息，在经济、军事、教育等领域发挥着越来越重要的作用，已经成为同能源与材料同等重要的战略资源。然而，可视信息本身存在着数据量大、无结构化等特点，使得分析较为困难。对可视信息进行有效的表达及加工，并从中提取有用的知识是目前计算机视觉和计算机图形学的研究重点。我们重点研究针对可视媒体信息的智能计算方法，包括：图像视频的场景理解、内容编辑、显著性分析、物体检测， 以及几何模型的重建与分析等。更多关于我们工作的信息，请参考论著页面。</p>
                <h2>Ultricies Senectus Magnis</h2>
                <p>Scelerisque sagittis magna mi duis iaculis id erat pharetra vestibulum condimentum hac suspendisse tempor leo aliquet penatibus parturient donec parturient parturient. Vehicula suspendisse sem a adipiscing est ad donec ultricies senectus magnis convallis a fringilla adipiscing vulputate dui elementum diam ipsum eleifend condimentum placerat facilisi viverra mollis scelerisque. Commodo cum vestibulum hendrerit sit condimentum at rutrum vulputate scelerisque erat convallis himenaeos consequat a hac ultrices nam vel suspendisse nascetur dictum vulputate sed at.</p>
                <section class="columns double">
                    <div class="column">
                        <span class="image left special"><img src="images/pic01.jpg" alt="" /></span>
                        <h3>Parturient Consequat Neque</h3>
                        <p>
                            Adipiscing dis a mus a convallis condimentum molestie penatibus iaculis pulvinar vestibulum enim lacus suscipit mi dictumst hendrerit sit condimentum at rutrum vulputate vestibulum habitasse nam fusce a nascetur. Ut ullamcorper suspendisse malesuada tempus vestibulum commodo habitasse suspendisse magnis.
                        </p>
                    </div>
                    <div class="column">
                        <span class="image left special"><img src="images/pic02.jpg" alt="" /></span>
                        <h3>Ridiculus Torquent Quam Accumsan</h3>
                        <p>
                            At sem phasellus elit class dapibus lectus posuere donec morbi in cras commodo faucibus ipsum vehicula fringilla. Risus hendrerit sit condimentum at rutrum vulputate fringilla dis curae metus ipsum imperdiet vulputate sapien dolorem ligula sapien curae consequat vestibulum urna. Nulla vulputate cum augue non arcu.
                        </p>
                    </div>
                </section>
            </div>
        </section>
{% endblock %}