<!DOCTYPE HTML>
<!--
	Snapshot by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Snapshot by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/formmain.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static',filename='layui/css/layui.css') }}">
        <script type="text/javascript" src="{{ url_for('static',filename='layui/layui.js') }}"></script>
        {% block script %}{% endblock %}
	</head>
	<body>
		<div class="page-wrap">

			<!-- Nav -->
        <ul class="layui-nav layui-nav-tree" lay-filter="nav" style="width: 60px;">
        <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
          <li class="layui-nav-item"><a href="{{ url_for('hello_world') }}"><span class="icon fa-home"></span></a></li>
          <li class="layui-nav-item"><a href="{{ url_for('gallery') }}"><span class="icon fa-camera-retro"></span></a></li>
          <li class="layui-nav-item"><a href="{{ url_for('generic') }}"><span class="icon fa-file-text-o"></span></a></li>
          <li class="layui-nav-item"><a href="{{ url_for('npr') }}"><span class="icon fa-eyedropper"></span></a></li>
          <li class="layui-nav-item"><a href="{{ url_for('cmp') }}"><span class="icon fa-copy"></span></a></li>
        </ul>
        <script>
        //注意：导航 依赖 element 模块，否则无法进行功能性操作
        layui.use('element', function(){
          var element = layui.element;

          //…
        });
        </script>
{#				<nav id="nav">#}
{#					<ul>#}
{#						<li><a href="{{ url_for('hello_world') }}" id="home"><span class="icon fa-home"></span></a></li>#}
{#						<li><a href="{{ url_for('gallery') }}" id="gallery"><span class="icon fa-camera-retro"></span></a></li>#}
{#						<li><a href="{{ url_for('generic') }}" id="generic"><span class="icon fa-file-text-o"></span></a></li>#}
{#                        <li><a href="{{ url_for('npr') }}" id="npr"><span class="icon fa-eyedropper"></span></a> </li>#}
{#                        <li><a href="{{ url_for('cmp') }}" id="cmp"><span class="icon fa-copy"></span></a></li>#}
{#					</ul>#}
{#				</nav>#}

			<!-- Main -->
				<section id="main">
                    {% block main %}

                    {% endblock %}
					<!-- Contact -->
						<section id="contact">
							<!-- Social -->
								<div class="social column">
									<h3>About Us</h3>
									<p>Mus sed interdum nunc dictum rutrum scelerisque erat a parturient condimentum potenti dapibus vestibulum condimentum per tristique porta. Torquent a ut consectetur a vel ullamcorper a commodo a mattis ipsum class quam sed eros vestibulum quisque a eu nulla scelerisque a elementum vestibulum.</p>
									<p>Aliquet dolor ultricies sem rhoncus dolor ullamcorper pharetra dis condimentum ullamcorper rutrum vehicula id nisi vel aptent orci litora hendrerit penatibus erat ad sit. In a semper velit eleifend a viverra adipiscing a phasellus urna praesent parturient integer ultrices montes parturient suscipit posuere quis aenean. Parturient euismod ultricies commodo arcu elementum suspendisse id dictumst at ut vestibulum conubia quisque a himenaeos dictum proin dis purus integer mollis parturient eros scelerisque dis libero parturient magnis.</p>
									<h3>Follow Us</h3>
									<ul class="icons">
                                        <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
										<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
									</ul>
								</div>

							<!-- Form -->
								<div class="column">
									<h3>Get in Touch</h3>
									<form action="#" method="post">
										<div class="field half first">
											<label for="name">Name</label>
											<input name="name" id="name" type="text" placeholder="Name">
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input name="email" id="email" type="email" placeholder="Email">
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6" placeholder="Message"></textarea>
										</div>
										<ul class="actions">
											<li><input value="Send Message" class="button" type="submit"></li>
										</ul>
									</form>
								</div>

						</section>

					<!-- Footer -->
						<footer id="footer">
							<div class="copyright">
								&copy; Untitled Design: <a href="https://templated.co/">TEMPLATED</a>. Images: <a href="https://unsplash.com/">Unsplash</a>.
							</div>
						</footer>
				</section>
		</div>

		<!-- Scripts -->
        <script type="text/javascript" src="{{ url_for('static',filename='js/form/jquery.min.js') }}"> </script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/form/jquery.poptrox.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/form/jquery.scrolly.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/form/skel.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/form/util.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='js/form/main.js') }}"></script>
    {% block endscript %}
    {% endblock %}
	</body>
</html>