{% extends 'base.html' %}
{% block script %}
    <script>
         $(document).ready(function () {
             $("#npr").addClass("active");
         });
    </script>

{% endblock %}
{% block main %}
    <div class="container">
    <h1 style="text-align: center; font-family: Tangerine">Non-Photorealistic Rendering</h1>
        <br>
    <div class="layui-row">
        <div class="layui-col-md6">
            <button type="button" class="layui-btn" id="upload">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
    </div>
        <br>
        <div id="output" class="img-block">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h4>Raw Image</h4>
                </div>
                <div class="col-md-6 text-center">
                    <h4>Stylized Image</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img id="input_img" class="img-thumbnail m-auto center-block" src="{{ url_for('static',filename='images/DSS.jpg') }}">
                </div>
                <div class="col-md-6">
                    <img id="npr_img" class="img-thumbnail m-auto center-block" src="{{ url_for('static',filename='images/BING1.png') }}">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block endscript %}
    <script>
        layui.use('upload', function(){
          var upload = layui.upload;

          //执行实例
          var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            ,url: '/npr_api' //上传接口
              ,accept:'images'
              ,size:4096
            ,done: function(res){
              //上传完毕回调
                   $("#input_img").attr("src", res['input_img']);
                   $("#npr_img").attr("src", res['npr_img']);
            }
            ,error: function(){
              //请求异常回调
            }
          });
        });
    </script>
    <script type="text/javascript">
    function isimg(fn) {
        fn=fn.toLowerCase();
      if (fn.indexOf('.jpg')>-1 || fn.indexOf('.jpeg')>-1 ||
      fn.indexOf('.bmp')>-1 || fn.indexOf('.png')>-1) {
        return 1;
      } else {
        $("#output_str").css("color", "red");
        $("#output_str").text("Please choose an IMAGE file.");
        return 0;
      }
    }
    function isimg(fn) {
        fn=fn.toLowerCase();
      if (fn.indexOf('.jpg')>-1 || fn.indexOf('.jpeg')>-1 ||
      fn.indexOf('.bmp')>-1 || fn.indexOf('.png')>-1) {
        return 1;
      } else {
        $("#output_str").css("color", "red");
        $("#output_str").text("Please choose an IMAGE file.");
        return 0;
      }
    }
    function checksize(f) {
      maxImgSiz = 4
      if (f.size/1024/1024 > maxImgSiz) {
        $("#output_str").css("color", "red");
        $("#output_str").text("Image size should be less than "+maxImgSiz+" M.");
        return 0;
      } else {
        return 1;
      }
    }
       function uploadimage() {
           var fileObj = document.getElementById("file").files[0];
             if (!isimg($("#file").val())) {
            return;
          }
               if (!checksize(fileObj)) {
            return;
          }
          if (typeof (fileObj) == "undefined" || fileObj.size <= 0) {
            $("#output_str").css("color", "red");
            $('#output_str').text("Cannot read image file!")
            return;
          }
           $("#output_str").css("color", "green");
           $('#output_str').text("Please wait...!")
           var formFile = new FormData();
           formFile.append("action", "UploadVMKImagePath");
           formFile.append("image", fileObj);
           $("#output_str").css("color", "green");
           $('#output_str').text("Posting data, please wait...")
           $.ajax({
               url: "/npr_api",
               type: "POST",
               dataType: "json",
               cache: false,
               processData: false,
               contentType: false,
               file: formFile,
               success: function (data) {

                   $("#input_img").attr("src", data['input_img'])
                   $("#npr_img").attr("src", data['npr_img'])
                   //$("#sketched_color").attr("src", data['sketched_color'])
                   //$("#sketched_gray").attr("src", data['sketched_gray'])
                   //$("#enhance").attr("src", data['enhance'])
                   //$("#edge_preserve").attr("src", data['edge_preserve'])
                   $("#output_str").css("color", "green");
                   $('#output_str').text('Done!');
               },
               error: function (request, errormsg) {
                   $("#output_str").css("color", "red");
                   $("#output_str").text('error!');
               }
            })
       }
    </script>
<script type="text/javascript">
<!--zoom in show-->
$("img").click(function() {
  $("#zoomin").attr("src", $(this).attr("src"));
  $("#zoomin").show(200);
})
$("#zoomin").click(function() {
  $(this).hide("slow");
})}
$("#file").bind('change', function(){
  if (checksize(document.getElementById("file").files[0]) &&
     isimg($("#file").val())) {
    $("#output_str").css("color", "black");
    $("#output_str").text("Image "+$("#file").val()+" to be uploaded.");
  }
})
}
</script>
<script src = "{{ url_for('static',filename='js/google-analytics.js') }}"></script>
{% endblock %}